.colored-col {
  background-color: rgb(168, 231, 241);
  color: white;
  padding: 20px;
  font-weight: bold;
  border: none;
}


.highlight {
  color: rgb(30, 0, 255); }


 
  .weather-container {
    background: #ffffff;
    max-width: 450px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px 25px;
  }
 
  .location {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
 
  .highlight {
    color: #221eff;
    font-weight: 700;
    cursor: pointer;
    margin-left: 8px;
    transition: color 0.3s;
  }

  .main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }



  .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1rem;
    color: #555;
    min-width: 130px;
  }
 
  .details strong {
    color: #333;
  }
 
  .forecast-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1rem;
    color: #444;
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
  }
 
  .forecast-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    text-align: center;
  }
 
  .forecast-grid .time {
    font-weight: 600;
    color: #ffffff;
  }



  .weather-forecast {
    display: flex;
    align-items: center;  
    gap: 20px;            
    font-family: Arial, sans-serif;
    background: #9b9fa07a;
    padding: 9px 30px;
    border-radius: 10px;
    width: max-content;  
  }
 
  .day {
    font-weight: bold;
    min-width: 80px;
  }
 
  .icon {
    font-size: 23px;
  }


  .weather-forecast svg {
    width: 35px;  
    height: 30px;  
  }
 
 
  .temp {
    font-size: 18px;
    color: #000000;
    min-width: 80px;
  }
 
  .desc {
    font-style: italic;
    color: #000000;
  }




  .bi {
    width: 48px;
    height: 30px;
  }
 

  .weather-forecast {
    width: 990px;        
    height: 70px;      
    padding: 15px;
    box-sizing: border-box;
   
    display: flex;
    flex-direction: row;  
    align-items: center;  
    justify-content: space-around;
   
    background-color: #433d3d26;
    margin: 25px;
    text-align: center;
  }
 

