body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  padding-top: 70px; /* Espaço pro menu fixo */
}

.navbar {
  background: #7297D3;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}


/* Seções */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

section {
  background: white;
  padding: 15px;
  border-radius: 8px;
  max-width: 320px;
  width: 100%;
  box-shadow: 0 2px 8px rgb(255, 255, 255);
}

/*icone*/
.top-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.top-info svg {
  width: 40px;    
  height: 40px;   
  display: block; 
  color: #ead10ef7;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*cor de cada um*/
.Casa {
background-color: #244780;
color: #fff;
}
.Coroados {
  background-color: #17298b;
  color: #fff;
}
.Londres{
  background-color: #0d1954;
  color: #fff;
}
.Escolha {
  background-color: rgb(4, 10, 49);
  color: #fff;
}
